.Line1 {
    position: absolute;
    width: 100%;
    height: 0.5vh;
    bottom: 1vh;
    background : #92E3EE;
    border: 0;
  }
  .Line2 {
    position: absolute;
    border: 0;

    width: 100%;
    height: 0.1vh;
    bottom: 0vh;
    background : #92E3EE;
  }
  .Line3 {
    position:absolute;
    border: 0;
    width: 60vw;
    left:8vw;
    height: 0.1vh;
    bottom: -0.2vh;
    background : #c7c7c7;
  }

